/*--------------------- Base CSS ---------------------------*/
.btn-flat{
    padding:5px 10px;
}

.btn-flat,
.input-flat{
    border-radius:0px;
}

// default color buttons
.btn-UI-green{
    color:#fff;
    background-color: #4ebaad;

    &:hover{
	    color:#fff;
	    background-color: #45aa9d;
    }
}

.btn-UI-blue{
    color:#fff;
    background-color: #63a3c1;

    &:hover{
	    color:#fff;
	    background-color: #5a94af;
    }
}

.btn-UI-red{
    color:#fff;
    background-color: #c88378;

    &:hover{
	    color:#fff;
	    background-color: #b4776d;
    }
}

.btn-UI-purple{
    color:#fff;
    background-color: #ad8fb7;

    &:hover{
	    color:#fff;
	    background-color: #987ea1;
    }
}

.btn-UI-pure-red{
    color:#fff;
    background-color: #ff4848;

    &:hover{
	    color:#fff;
	    background-color: #e03e3e;
    }
}

.btn-UI-pure-green{
    color:#fff;
    background-color: #5cb85c;

    &:hover{
	    color:#fff;
	    background-color: #49a549;
    }
}

.btn-UI-white{
    color:#6a6a6a;
    background-color: #fff;
    border:1px solid #c0c0c0;

    &:hover{
	    color:#6a6a6a;
	    background-color: #f3f2f2;
    }
}
/*--------------------- EOF Base CSS ---------------------------*/